
/*滚动样式开始*/
::-webkit-scrollbar {
		width: 10px;
	}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.2);
}
/*滚动样式结束*/

.chat-thread {
  margin: 24px auto 0 auto;
  padding: 0 20px 0 0;
  list-style: none;
}

.chat-thread li {
  position: relative;
  clear: both;
  display: inline-block;
  padding: 16px 40px 16px 20px;
  margin: 0 0 20px 0px;
  font: 16px/20px 'Noto Sans', sans-serif;
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.2);
}

/*在li中元素的后面加上内容*/
.chat-thread li:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid rgba(25, 147, 147, 0.2);
}

/*奇数行list的文字后面加上三角形*/
.myself:after {
  border-right: 15px solid transparent;
  right: -15px;
}

/*偶数行list的文字前面加上三角形*/
.other:after {
  border-left: 15px solid transparent;
  left: -15px;
}

.myself{	
	float: right;
	left: -70px;
	color: #0AD5C1;
}

.other{
	float: left;
	right: -90px;
	color: #0EC879;
}

/*聊天记录中头像class*/
.cotent_tx {
	position: absolute;
  	top: 0;
}

.other img{
  left: -80px;
}
.myself img {
  right: -80px;	
}
