/*背景图片*/
body {
	background-image: url(../img/body_bg2.jpg);
	background-repeat: no-repeat;
}
#fm {
	padding-top: 30px;
	padding-bottom: 60px;
	text-align: center;
	background-color: rgba(0,0,0,0);
}
/*顶部导航栏样式*/
#serach {
	margin: 10px;
	width: 400px;
	height: 40px;
}
#header {
	position: fixed;
	width: 100%;
	background-color: rgb(246, 251, 253);
	z-index: 5;
}
.aa {
	width: 100%;
	margin-top: 10px;
}
.aa a {
	margin: 20px;
	margin-top: 50px;
	margin-left: 30px;
	color: #FFFFFF;
	font-size: 22px;
}
.main {
	margin-top: 100px;
}
/*封面导航表格中的td样式*/
/*
td,
th {
	display: table-cell;
	vertical-align: inherit;
}*/
/*封面导航表格的div样式*/

.tb_tab {
	width: 100%;
	table-layout: fixed;
	text-align: center;
}
/*封面导航最外面的div样式*/

.PCD_tab {
	min-width: 572px;
	margin-bottom: 16px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	text-align: center;
}
.S_bg2 {
	background-color: #fff;
}

.tab_wrap {
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
}



#friend_frame{
	font-size: 12px;
}
ul{

	list-style: none;
}
li{
	background-color: rgb(242,242,245);
}
body{
	background-color: rgb(31,22,14);
}
