/*鑳屾櫙鍥剧墖*/
body {
	background-image: url(../img/body_bg2.jpg);
	background-repeat: no-repeat;
}

#fm {
	padding-top: 30px;
	padding-bottom: 60px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0);
}
/*椤堕儴瀵艰埅鏍忔牱寮�*/
#serach {
	margin: 10px;
	width: 400px;
	height: 40px;
}

#header {
	position: fixed;
	width: 100%;
	background-color: rgb(246, 251, 253);
	z-index: 5;
}

.aa {
	width: 100%;
	margin-top: 10px;
}

.aa a {
	margin: 20px;
	margin-top: 50px;
	margin-left: 30px;
	color: #FFFFFF;
	font-size: 22px;
}

.main {
	margin-top: 100px;
}
/*灏侀潰瀵艰埅琛ㄦ牸涓殑td鏍峰紡*/
/*
td,
th {
	display: table-cell;
	vertical-align: inherit;
}*/
/*灏侀潰瀵艰埅琛ㄦ牸鐨刣iv鏍峰紡*/
.tb_tab {
	width: 100%;
	table-layout: fixed;
	text-align: center;
}
/*灏侀潰瀵艰埅鏈�澶栭潰鐨刣iv鏍峰紡*/
.PCD_tab {
	min-width: 572px;
	margin-bottom: 16px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	text-align: center;
}

.S_bg2 {
	background-color: #fff;
}

.tab_wrap {
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
}
/*鍩烘湰淇℃伅鐨勬牱寮�*/
.info_main {
	display: block;
	width: 300px;
	margin-bottom: 100px;
	padding-bottom: 40px;
}

ul {
	list-style: none;
}
/*鍩烘湰淇℃伅瀛椾綋鏍峰紡*/
.in_small {
	font-size: 20px;
	border-left-width: 1px;
	color: rgb(66, 48, 9)
}
/*鍩烘湰淇℃伅鏂囨湰妗嗘牱寮�*/
.in_text {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	background-color: rgba(94, 122, 161, 0.2)
}
/*30鍍忕礌琛岃窛*/
.lh-30 {
	line-height: 30px
}

.panel {
	background-color: #fff;
	border: solid 1px transparent
}
/*涓昏闈㈡澘*/
.panel-primary {
	border-color: #5a98de
}

.panel-primary>.panel-header {
	border-color: #5a98de;
	background-color: #5a98de;
	color: #fff
}

/*闈㈡澘鏍囬*/
.panel-header {
	border-bottom: solid 1px transparent;
	padding: 8px 15px;
	font-size: 14px;
	font-weight: 700
}
/*闈㈡澘鍐呭*/
.panel-body {
	padding: 15px
}
/*璁剧疆淇℃伅鑳屾櫙閫忔槑*/
.background {
	background-color: rgba(94, 122, 161, 0.2)
}
/*鎵�鍦ㄥ湴鏍峰紡*/
#province select {
	margin-left: 10px;
	width: 100px
}