/*闂佺厧鍟块張顒�鈻嶅▎鎾崇倞闁告挆鍐炬毈*/
body {
	background-image: url(../img/body_bg2.jpg);
	background-repeat: no-repeat;
}
#fm {
	
	padding-top: 30px;
	padding-bottom: 60px;
	text-align: center;
	background-color: rgba(0,0,0,0);
	overflow: hidden;
}
/*婵＄偑鍊曢悥濂稿磿鐎甸潻鎷锋担鍐棈闁糕晛鎳樺鍊熺疀閺冨倸顥庨悗娈垮櫙閹凤拷*/
#serach {
	margin: 10px;
	width: 400px;
	height: 40px;
}
#header {
	position: fixed;
	width: 100%;
	background-color: rgb(246, 251, 253);
	z-index: 5;
}
.aa {
	width: 100%;
	margin-top: 10px;
}
.aa a {
	margin: 20px;
	margin-top: 50px;
	margin-left: 30px;
	color: #FFFFFF;
	font-size: 22px;
}
.main {
	margin-top: 100px;
}
/*闁诲繐绻嬬欢姘焽閹殿噯鎷锋担鍐棈闁糕晛鎳愰幃浼村Ω閿旀儳顥曟繛鎴炴惄閸樻儳鈻撻幉鍧夐梺鍝勭Т閸㈣尙妲愰敓锟�*/
/*
td,
th {
	display: table-cell;
	vertical-align: inherit;
}*/
/*闁诲繐绻嬬欢姘焽閹殿噯鎷锋担鍐棈闁糕晛鎳愰幃浼村Ω閿旀儳顥曢梺姹囧妼閸ㄧ彻v闂佸搫绉撮崲鑼閿燂拷*/

.tb_tab {
	width: 100%;
	table-layout: fixed;
	text-align: center;
}

.PCD_tab {
	min-width: 572px;
	margin-bottom: 16px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	text-align: center;
}
.S_bg2 {
	background-color: #fff;
}

.tab_wrap {
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
}

/*闂佺懓鐡ㄩ崹鐟扳枔閹寸偟鈻斿┑鐘冲搸閿熻棄顦扮粙澶屾嫚瀹割喖鏅ｉ梺闈╃祷閸斿秹鎮ч崡鐑嗗殨闁跨噦鎷�*/

#ct_main {
	display: inline-block;
}
/*闂佺懓鐡ㄩ崹鐟扳枔閹寸偟鈻斿┑鐘冲搸閿熻棄顦蹇涙晜閹稿孩鐝烽梺鍛婂姇閹冲酣顢欓幇鏉垮唨鐎瑰嫭澹嗙涵锟�*/

.wb_frame_left {
	display: inline-block;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	font-size: 12px;
}
/*閻庣敻鍋婇崰鏍х暦閵夆晜鏅�癸拷閿熶粙鎯岄崶銊р枖婵犲灚鎸剧粈澶愭煕韫囨碍鐝柡浣哄仱瀹曪繝鏁嶉崟顐毈闂佹眹鍔岀�氼參鎮ч崡鐑嗗殨闁跨噦鎷�*/

.WB_cardwrap {
	margin: 0 0 10px 0;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
}
.PCD_counter {
	overflow: hidden;
}
.WB_innerwrap {
	padding: 16px;
}
.PCD_counter .WB_innerwrap {
	width: 100%;
	padding: 12px 0;
}
.S_line1 {
	border-color: #d9d9d9;
}
.PCD_counter table td {
	border-left-width: 1px;
	border-left-style: solid;
}
.tb_counter {
	width: 100%;
	margin-left: -1px;
	line-height: 14px;
	text-align: center;
	table-layout: fixed;
}
tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
table td strong {
	display: block;
	margin: 2px 0 6px 0;
	font-family: Tahoma;
	font-weight: 400;
}
.S_txt2 {
	color: #808080;
	text-decoration: none;
}
.W_f18 {
	font-size: 18px;
}
/*閻庣敻鍋婇崰鏍х暦閵夆晛绀冮柛娑卞弾閸熷洭鏌″鍛Щ缂佹唻鎷�*/

.WB_content {
	width: 700px;
	
	margin-bottom: 10px;
}
.content_top {
	padding-top: 20px;
	padding-left: 20px;
}
.content_bottom {
	overflow: hidden;
}
.content_bottom ul li a:hover{
	color:orangered;
}

/*閻庣敻鍋婇崰鏍х暦閵夆晛绀冮柛娑卞弾閸熷洤鈽夐幙鍐ㄥ箹闁靛洦妫冨畷鎾圭疀閺囩喓鏆犻梺鍝勭Т閸㈣尙妲愰敓锟�*/

.content_tx {
	width: 80px;
	height: 80px;
}
/*閻庣敻鍋婇崰鏍х暦閵夆晛绀冮柛娑卞弾閸熷洤鈽夐幙鍐ㄥ绩闁伙箑娴烽幏瀣传閸曨偊娈梺姹囧妼鐎氼參鎮ч崡鐑嗗殨闁跨噦鎷�*/

.div {
	display: block;
}
.WB_row_line {
	border-top-width: 1px;
	border-top-style: solid;
	color: #D9D9D9;
}
.col {
	border-right-width: 1px;
	border-right-style: solid;
	color: #D9D9D9;
}

/*閻庡綊娼荤紓姘跺疾閼哥數闄勯柦妯侯槸閸戠娀鏌涢幒鎿冩畽闁靛棗鍟村钘夌暋閹殿喚顢�*/
.friends_list {
	text-align: center;
}
/*婵犻潧鍊藉Λ鍕嚕閹间礁绀嗘俊銈呭閿熻棄鍟粙澶愵敇閻樺磭鏆犻梺鐓庡暱閺堫剙鈻嶅▎鎾冲唨鐎瑰嫭澹嗙涵锟�*/
/*.afriend_bg {
	background: lightgray;
}*/
/*婵犻潧鍊藉Λ鍕嚕閹间礁绀嗘俊銈呭閿熻棄鍟粙澶愵敇閻樺磭鏆燼闂佸搫绉村ú銊╊敆閻戣棄鍐�鐎瑰嫭澹嗙涵锟�*/
.afriend_wrap {
	margin-left: 30px;
	display: block;
}
/*婵犻潧鍊藉Λ鍕嚕閹间礁绀嗘俊銈呭閿熻棄鍟粙澶愵敇閻愵亜浠洪梺鍛婄懃椤戝懘濡甸弮鍫濈＝闊洦姊绘竟澶岋拷娈垮櫙閹凤拷*/
.FL_tx {
	width: 50px;
	height: 50px;
}
/*婵犻潧鍊藉Λ鍕嚕閹间礁绀嗘俊銈呭閿熻棄鍟粙澶愵敇閻愵亜浠洪梺鍛婄懃椤戝棗螣閿熺晫绱掓径灞筋暭闁绘宕锝夋晸閿燂拷*/
.FL_name {
	font-size: 20px;
	padding-left: 20px;	
}

.collectA{
	cursor: pointer;
}
.zanA{
	cursor: pointer;
}
/*添加好友按钮样式*/
.deal{
	color: rgb(245,245,245);
	cursor: pointer;
	text-decoration: none;
}