/*閼冲本娅欓崶鍓у*/
body {
	background-image: url(../img/body_bg2.jpg);
	background-repeat: no-repeat;
}
#fm {
	
	padding-top: 30px;
	padding-bottom: 60px;
	text-align: center;
	background-color: rgba(0,0,0,0);
	overflow: hidden;
}
/*妞ゅ爼鍎寸�佃壈鍩呴弽蹇旂壉瀵拷*/
#serach {
	margin: 10px;
	width: 400px;
	height: 40px;
}
#header {
	position: fixed;
	width: 100%;
	background-color: rgb(246, 251, 253);
	z-index: 5;
}
.aa {
	width: 100%;
	margin-top: 10px;
}
.aa a {
	margin: 20px;
	margin-top: 50px;
	margin-left: 30px;
	color: #FFFFFF;
	font-size: 22px;
}
.main {
	margin-top: 100px;
}
/*鐏忎線娼扮�佃壈鍩呯悰銊︾壐娑擃厾娈憈d閺嶅嘲绱�*/
/*
td,
th {
	display: table-cell;
	vertical-align: inherit;
}*/
/*鐏忎線娼扮�佃壈鍩呯悰銊︾壐閻ㄥ垼iv閺嶅嘲绱�*/

.tb_tab {
	width: 100%;
	table-layout: fixed;
	text-align: center;
}

.PCD_tab {
	min-width: 572px;
	margin-bottom: 16px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	text-align: center;
}
.S_bg2 {
	background-color: #fff;
}

.tab_wrap {
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
}

/*閹存垹娈戞稉濠氥�夋稉璇差啇閸ｃ劍鐗卞锟�*/

#ct_main {
	display: inline-block;
}
/*閹存垹娈戞稉濠氥�夊锔挎櫠閸愬懎顔愰弽宄扮础*/

.wb_frame_left {
	display: inline-block;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	font-size: 12px;
}
/*瀵邦喖宕ラ敍宀�鐭囨稉婵撶礉閸忚櫕鏁為崡锛勫閻ㄥ嫭鐗卞锟�*/

.WB_cardwrap {
	margin: 0 0 10px 0;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
}
.PCD_counter {
	overflow: hidden;
}
.WB_innerwrap {
	padding: 16px;
}
.PCD_counter .WB_innerwrap {
	width: 100%;
	padding: 12px 0;
}
.S_line1 {
	border-color: #d9d9d9;
}
.PCD_counter table td {
	border-left-width: 1px;
	border-left-style: solid;
}
.tb_counter {
	width: 100%;
	margin-left: -1px;
	line-height: 14px;
	text-align: center;
	table-layout: fixed;
}
tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
table td strong {
	display: block;
	margin: 2px 0 6px 0;
	font-family: Tahoma;
	font-weight: 400;
}
.S_txt2 {
	color: #808080;
	text-decoration: none;
}
.W_f18 {
	font-size: 18px;
}
/*瀵邦喖宕ラ崘鍛啇閺嶅嘲绱�*/

.WB_content {
	width: 700px;
	
	margin-bottom: 10px;
}
.content_top {
	padding-top: 20px;
	padding-left: 20px;
}
.content_bottom {
	overflow: hidden;
}

/*瀵邦喖宕ラ崘鍛啇娑擃厼銇旈崓蹇曟畱閺嶅嘲绱�*/

.content_tx {
	width: 80px;
	height: 80px;
}
/*瀵邦喖宕ラ崘鍛啇娑擃叀鐦庣拋鍝勫隘閻ㄥ嫭鐗卞锟�*/

.div {
	display: block;
}
.WB_row_line {
	border-top-width: 1px;
	border-top-style: solid;
	color: #D9D9D9;
}
.col {
	border-right-width: 1px;
	border-right-style: solid;
	color: #D9D9D9;
}

/*瀹革缚鏅舵總钘夊几閸掓銆冮弽宄扮础*/
.friends_list {
	text-align: center;
}
/*婵傝棄寮搁崚妤勩�冩稉顓犳畱閼冲本娅欓弽宄扮础*/
/*.afriend_bg {
	background: lightgray;
}*/
/*婵傝棄寮搁崚妤勩�冩稉顓犳畱a閺嶅洨顒烽弽宄扮础*/
.afriend_wrap {
	margin-left: 30px;
	display: block;
}
/*婵傝棄寮搁崚妤勩�冩稉顓炪偨閸欏銇旈崓蹇旂壉瀵拷*/
.FL_tx {
	width: 50px;
	height: 50px;
}
/*婵傝棄寮搁崚妤勩�冩稉顓炪偨閸欏妯�缁夌増鐗卞锟�*/
.FL_name {
	font-size: 20px;
	padding-left: 20px;	
}
