/*闁煎啿鏈▍娆撳炊閸撗冾暬*/
body {
	background-image: url(../img/body_bg2.jpg);
	background-repeat: no-repeat;
}
#fm {
	
	padding-top: 30px;
	padding-bottom: 60px;
	text-align: center;
	background-color: rgba(0,0,0,0);
	overflow: hidden;
}
/*濡炪倕鐖奸崕瀵革拷浣冨閸╁懘寮借箛鏃傚鐎殿噯鎷�*/
#serach {
	margin: 10px;
	width: 400px;
	height: 40px;
}
#header {
	position: fixed;
	width: 100%;
	background-color: rgb(246, 251, 253);
	z-index: 5;
}
.aa {
	width: 100%;
	margin-top: 10px;
}
.aa a {
	margin: 20px;
	margin-top: 50px;
	margin-left: 30px;
	color: #FFFFFF;
	font-size: 22px;
}
.main {
	margin-top: 100px;
}
/*閻忓繋绶氬鎵拷浣冨閸╁懐鎮伴妸锔惧濞戞搩鍘惧▓鎲坉闁哄秴鍢茬槐锟�*/
/*
td,
th {
	display: table-cell;
	vertical-align: inherit;
}*/
/*閻忓繋绶氬鎵拷浣冨閸╁懐鎮伴妸锔惧闁汇劌鍨糹v闁哄秴鍢茬槐锟�*/

.tb_tab {
	width: 100%;
	table-layout: fixed;
	text-align: center;
}

.PCD_tab {
	min-width: 572px;
	margin-bottom: 16px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	text-align: center;
}
.S_bg2 {
	background-color: #fff;
}

.tab_wrap {
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
}

/*闁瑰瓨鍨瑰▓鎴炵▔婵犳哎锟藉绋夌拠宸晣闁革絻鍔嶉悧鍗烆嚕閿燂拷*/

#ct_main {
	display: inline-block;
}
/*闁瑰瓨鍨瑰▓鎴炵▔婵犳哎锟藉顔忛敂鎸庢珷闁告劕鎳庨鎰板冀瀹勬壆纭�*/

.wb_frame_left {
	display: inline-block;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	font-size: 12px;
}
/*鐎甸偊鍠栧畷銉╂晬瀹�锟介惌鍥ㄧ▔濠垫挾绀夐柛蹇氭珪閺佺偤宕￠敍鍕暬闁汇劌瀚悧鍗烆嚕閿燂拷*/

.WB_cardwrap {
	margin: 0 0 10px 0;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
}
.PCD_counter {
	overflow: hidden;
}
.WB_innerwrap {
	padding: 16px;
}
.PCD_counter .WB_innerwrap {
	width: 100%;
	padding: 12px 0;
}
.S_line1 {
	border-color: #d9d9d9;
}
.PCD_counter table td {
	border-left-width: 1px;
	border-left-style: solid;
}
.tb_counter {
	width: 100%;
	margin-left: -1px;
	line-height: 14px;
	text-align: center;
	table-layout: fixed;
}
tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
table td strong {
	display: block;
	margin: 2px 0 6px 0;
	font-family: Tahoma;
	font-weight: 400;
}
.S_txt2 {
	color: #808080;
	text-decoration: none;
}
.W_f18 {
	font-size: 18px;
}
/*鐎甸偊鍠栧畷銉╁礃閸涱収鍟囬柡宥呭槻缁憋拷*/

.WB_content {
	width: 700px;
	
	margin-bottom: 10px;
}
.content_top {
	padding-top: 20px;
	padding-left: 20px;
}
.content_bottom {
	overflow: hidden;
}
.content_bottom ul li a:hover{
	color:orangered;
}

/*鐎甸偊鍠栧畷銉╁礃閸涱収鍟囧☉鎿冨幖閵囨棃宕撹箛鏇熺暠闁哄秴鍢茬槐锟�*/

.content_tx {
	width: 80px;
	height: 80px;
}
/*鐎甸偊鍠栧畷銉╁礃閸涱収鍟囧☉鎿冨弨閻﹀海鎷嬮崫鍕殬闁汇劌瀚悧鍗烆嚕閿燂拷*/

.div {
	display: block;
}
.WB_row_line {
	border-top-width: 1px;
	border-top-style: solid;
	color: #D9D9D9;
}
.col {
	border-right-width: 1px;
	border-right-style: solid;
	color: #D9D9D9;
}

/*鐎归潻缂氶弲鑸电附閽樺鍑犻柛鎺擃殙閵嗗啴寮藉畡鎵*/
.friends_list {
	text-align: center;
}
/*濠靛倽妫勫鎼佸礆濡ゅ嫨锟藉啯绋夐鐘崇暠闁煎啿鏈▍娆撳冀瀹勬壆纭�*/
/*.afriend_bg {
	background: lightgray;
}*/
/*濠靛倽妫勫鎼佸礆濡ゅ嫨锟藉啯绋夐鐘崇暠a闁哄秴娲ㄩ鐑藉冀瀹勬壆纭�*/
.afriend_wrap {
	margin-left: 30px;
	display: block;
}
/*濠靛倽妫勫鎼佸礆濡ゅ嫨锟藉啯绋夐鐐仺闁告瑥顑呴妵鏃堝磽韫囨梻澹夌�殿噯鎷�*/
.FL_tx {
	width: 50px;
	height: 50px;
}
/*濠靛倽妫勫鎼佸礆濡ゅ嫨锟藉啯绋夐鐐仺闁告瑥顑嗗Ο锟界紒澶屽閻楀崬顕ｉ敓锟�*/
.FL_name {
	font-size: 20px;
	padding-left: 20px;	
}
