.lefelist a:hover {
				background-color: rgb(254, 84, 53);
				color: ghostwhite;
			}
			
			#zhongjianneirong {
				margin: 0px;
				padding: 0px;
			}
			
			#tupian {
				margin: 0px;
				padding: 0px;
			}
			
			#tupianyoubianneirong {
				margin: 0px;
				padding: 0px;
			}
			
			#xsearch{
				background-image:url(img/search.gif) ;
				background-size: 30px; 
				background-repeat: repeat-y;
				text-align:center;
				
			}
			#xsearch {
				text-align: right;
			}
		
		
		
		    #serach {
				margin: 10px;
				width: 400px;
				height: 40px;
				border: none;
				background-color: rgb(242,242,245);
				
			}
			#header {
				position: fixed;
				width: 100%;
				background-color: rgb(255, 255, 255);
				z-index: 5;
				border-top: 1px solid red;
				border-bottom: 1px solid #DAE0E5;
			}
			.btnsearch{
				opacity:0.4;
				position:absolute;
				margin-left:-56px;
				margin-top: 10px;
				background-image: url(img/search.gif) ;
				height:39px;
				width: 45px; 
				background-size: 40px;
	            background-repeat: no-repeat;
			}
			.daohan3 ul li a:hover{
				background-color: white;
				color: orangered;
			} 			
			a:hover{
				text-decoration: none;
				color: orangered;
			}
	